doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.gritter.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js') 
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(src='/javascripts/jquery.gritter.js')
    script(src='/javascripts/socket.io.min.js')
  body
    block content