body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    background: #ccc

a
    color: #0069FF
 
.container
    width: 450px
    margin: 0 auto
    padding: 20px
    background: #fff
    box-shadow: 1px 3px 3px #333
    border-radius: 25px

.user_container
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 10px
    
.space
    margin-top: 10px;

.score
    display: inline;
    float:right;

.noselect
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;

.linkbutton
    vertical-align: 100%;
    display: inline;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;

.linkbutton:hover
    background-color:#dfdfdf;

.linkbutton:active
    position:relative;
    top:1px;

#user_list
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;

#container
    width: 450px
    margin: 0 auto
    padding: 40px 20px
    background: #fff
    box-shadow: 1px 3px 3px #333
    border-radius: 5px
    
#logo
    text-align: center;

#display
    margin: 20px 0 50px

#userbar
    margin-bottom: 10px